* {
    box-sizing: border-box;
  }
 
.App{
    position:relative;
    display:flex;
    width: 1488px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
   
}

.listeOutils{
    position: relative;
    display: grid;
    
    grid-template-rows: repeat(10,55px);
    background-image: linear-gradient(to top,rgb(0, 0, 0),rgb(255, 0, 0));
    
    width: 228px;
    height:auto;
    
  
}
.Outil{
    position: relative;
    width: 80%;
    left: 10%;
    right: auto;
    
}
.monCV{
    position: relative;
    width:1170px;
    height:auto;
    
}
.Entete{
    position: relative;
    display: grid;
    width:1140px;
    height: 320px;
    grid-template-columns: 30% 70%;
    font-size: xx-large;

    background-image: linear-gradient(to top,rgb(255, 235,255),rgb(255, 255, 255))
}
img{
    width:270px;
    height:270px;
    border-radius:100%;
}

.coordonnees{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    

}

.coordonnees > label{
    font-style: italic;
    font-size:small;
}
.coordonnees > input{
    font-style:oblique;
    font-size:medium;
    width: 150px;
   
    

}
.titreCV{
    position: relative;
    text-align: center;
    top: 120px;
    width: 60%;
    left: 20%;
    font-size: xx-large;
    font-style: italic;
    font-weight:bolder;
    
}


.corpsCV{
    display: grid;
    
    grid-template-columns: 25% 75%;
}
.formation, .experiences, .realisations, .langues, .profil{
    
    display:grid;
    padding:20px;
    margin:5px ;
    height:auto;
    border:red;

}

.divers, .centresInteretD, .qualitesD{
    display: flex;
    padding:20px;
    margin:5px ;
    height:auto;
    border:red;

}
.myFormation{
    position: relative;
    display: list-item;
    padding-left: 15px;
    padding-top: 10px;
    margin: 5px;
   
}
.dateDebut{
    grid-area: dateDebut;
} 
.dateFin{
    grid-area: dateFin;
} 
.specialite{
    grid-area: specialite;
} 
.diplome{
    grid-area: diplome;
} 
.organisme{
    grid-area: organisme;
} 
.ville{
    grid-area: ville;
}
   


.uneFormation{
    position: relative;
    display: grid;
    grid-template: 
    'dateDebut dateFin organisme organisme organisme ville'
    'diplome diplome diplome specialite specialite specialite';
    padding-bottom: 20px;
    margin: 5px;
    padding: 5px;

}

.myExperience{
    position: relative;
    display: list-item;
    padding-left: 15px;
    padding-top: 10px;
    margin: 5px;
   
}

.dateDebutE{
    grid-area: dateDebutE;
} 
.dateFinE{
    grid-area: dateFinE;
} 
.mission{
    grid-area: mission;
} 
.fonction{
    grid-area: fonction;
} 
.entreprise{
    grid-area: entreprise;
} 
.villeE{
    grid-area: villeE;
}

.uneExperience{
    position: relative;
    display: grid;
    grid-template: 
    'dateDebutE dateFinE entreprise entreprise entreprise villeE'
    'fonction fonction fonction fonction fonction fonction'
    'mission mission mission mission mission mission';
    padding-bottom: 20px;

}
.invisible{
    display:none;
}
.lePrioritaire{
    position: relative;
    width: 850px;
    background-image: linear-gradient(to top,rgb(255, 255,255),rgb(255, 235, 255));
}
.leSecondaire{
    position: relative;
    width: 295px;
    background-image:linear-gradient(to top,rgb(255, 255,255),rgb(255, 235, 255)) ;

}